:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.alpine:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}

.tic-tac-toe {
  text-align: center;
  margin: 20px;
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  padding: 2px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0 10px #ffffff;
}

.cell:hover {
  background-color: #333;
  filter: drop-shadow(0 0 2em #ffffff);
}

.status {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

button {
  margin-top: 10px;
  font-size: 25px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #ffffff;
  font-weight: bolder;
  color: black;
}
