a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo.angular:hover {
  filter: drop-shadow(0 0 2em #c3002f);
}
